<?xml version="1.0" encoding="utf-8"?>
<PlotSettings>
  <PlotUpdateRateFPS>30</PlotUpdateRateFPS>
  <LineWidth>1</LineWidth>
  <AntiAliasing>false</AntiAliasing>
  <ShowRenderTime>false</ShowRenderTime>
  <YAutoScale>true</YAutoScale>
  <BufferSize>5000000</BufferSize>
  <Xmin>0</Xmin>
  <Xmax>3000</Xmax>
  <Ymin>0</Ymin>
  <Ymax>4000</Ymax>
  <DataStreams />
</PlotSettings>